/* Colores
black dark = #000
black light = #313131
gray dark = #707070
gray normal = #B3B8BB
gray light = #E1E1E1
white = #FFF
primary = #3D829C
secundary = #A8D0DC
*/

/* Google Fonts: Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

/* Generales */
.black {
  color: #313131;
  font-weight: 700;
}

.astral {
  color: #3D829C;
  font-weight: 700;
}

.hidden {
  display: none;
}

body {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/f/ff/Milonario_El_Salvador.jpg");
  background-size: cover;
  margin: 0;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #3D829C;
  color: #FFF;
  padding: 15px 40px;
}

#root {
  background-color: rgba(0, 0, 0, 0.8);
  height: 100vh;
  padding-top: 40px;
}

#nav-logo {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
}

.nav-opc {
  padding: 22px 10px;
  margin-left: 15px;
}

.nav-opc:hover {
  background-color: #A8D0DC;
  color: #313131;
  cursor: pointer;
}

#intro {
  padding: 0px 40px;
}

h2{
  text-align: center;
  margin: 0px;
}

#txt-name {
  width: 400px;
  background-color: #E1E1E1;
  color: #000;
  padding: 5px 15px;
  margin-right: 15px;
  font-size: 18px;
  border: 0px;
  border-bottom: solid 3px #313131;
}

#txt-name:focus {
  outline: none;
  border-bottom: solid 3px #3D829C;
}

.btn {
  background-color: #3D829C;
  color: #FFF;
  padding: 6px 10px;
  font-size: 18px;
  border-radius: 15px;
  border: solid 1px #3D829C;
}

.btn:active {
  outline: none;
  background-color: #E1E1E1;
  color: #3D829C;

}

.btn:focus {
  outline: none;
}

#cards {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin: 0px 20px;
}

h3{
  margin: 0;
}

.card-title {
  background-color: #3D829C;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 0px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.card-img {
  width: 100%;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

#card-trivia, #card-score {
  background-color: #A8D0DC;
  margin: 20px auto;
  padding: 20px;
  width: 350px;
  border-radius: 30px;
}

#card-number {
  border-radius: 100%;
  border: solid #3D829C 2px;
  padding: 15px;
  width: fit-content;
  text-align: center;
  margin: 0 auto;
  /* width: 50px; */
}

#card-question {
  padding: 10px 0px;
  color: #000;
  font-size: 22px;
}

#card-answers {
  display: flex;
  flex-direction: column;
}

#btn-opc1, #btn-opc2, #btn-opc3 {
  margin-top: 10px;
  padding: 10px 0px;
}

#card-score {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #313131;
}

#card-score p {
  margin: 10px 0px;
  padding: 0;
}

#score-answers {
  color: #313131;
  font-weight: 700;
}

#btnJugar, #btnSalir {
  margin: 15px 5px 0px;
}